:root {
	--json-dive-spacing-0: 0;
	--json-dive-spacing-1: 0.25rem;
	--json-dive-spacing-2: 0.5rem;
	--json-dive-spacing-3: 0.75rem;
	--json-dive-spacing-4: 1rem;
	--json-dive-spacing-5: 1.25rem;
	--json-dive-spacing-6: 1.5rem;
	--json-dive-spacing-7: 1.75rem;
	--json-dive-spacing-8: 2rem;
	--json-dive-spacing-9: 2.25rem;
	--json-dive-spacing-10: 2.5rem;
	--json-dive-spacing-11: 2.75rem;
	--json-dive-spacing-12: 3rem;
	--json-dive-spacing-14: 3.5rem;
	--json-dive-spacing-16: 4rem;
	--json-dive-spacing-20: 5rem;
	--json-dive-spacing-24: 6rem;
	--json-dive-spacing-28: 7rem;
	--json-dive-spacing-32: 8rem;
	--json-dive-spacing-0_5: 0.125rem;
	--json-dive-spacing-1_5: 0.375rem;
	--json-dive-spacing-2_5: 0.625rem;
	--json-dive-spacing-3_5: 0.875rem;

	--json-dive-radius-xs: 0.125rem;
	--json-dive-radius-sm: 0.25rem;
	--json-dive-radius-md: 0.375rem;
	--json-dive-radius-lg: 0.5rem;
	--json-dive-radius-xl: 0.75rem;
	--json-dive-radius-2xl: 1rem;
	--json-dive-radius-3xl: 1.5rem;
	--json-dive-radius-4xl: 2rem;

	--json-dive-color-red-50: light-dark(
		oklch(0.971 0.013 17.38),
		oklch(0.029 0.013 17.38)
	);
	--json-dive-color-red-100: light-dark(
		oklch(0.936 0.032 17.717),
		oklch(0.064 0.032 17.717)
	);
	--json-dive-color-red-200: light-dark(
		oklch(0.885 0.062 18.334),
		oklch(0.115 0.062 18.334)
	);
	--json-dive-color-red-300: light-dark(
		oklch(0.808 0.114 19.571),
		oklch(0.192 0.114 19.571)
	);
	--json-dive-color-red-400: light-dark(
		oklch(0.704 0.191 22.216),
		oklch(0.296 0.191 22.216)
	);
	--json-dive-color-red-500: light-dark(
		oklch(0.637 0.237 25.331),
		oklch(0.363 0.237 25.331)
	);
	--json-dive-color-red-600: light-dark(
		oklch(0.577 0.245 27.325),
		oklch(0.423 0.245 27.325)
	);
	--json-dive-color-red-700: light-dark(
		oklch(0.505 0.213 27.518),
		oklch(0.495 0.213 27.518)
	);
	--json-dive-color-red-800: light-dark(
		oklch(0.444 0.177 26.899),
		oklch(0.556 0.177 26.899)
	);
	--json-dive-color-red-900: light-dark(
		oklch(0.396 0.141 25.723),
		oklch(0.604 0.141 25.723)
	);
	--json-dive-color-red-950: light-dark(
		oklch(0.258 0.092 26.042),
		oklch(0.742 0.092 26.042)
	);

	--json-dive-color-orange-50: light-dark(
		oklch(0.98 0.016 73.684),
		oklch(0.02 0.016 73.684)
	);
	--json-dive-color-orange-100: light-dark(
		oklch(0.954 0.038 75.164),
		oklch(0.046 0.038 75.164)
	);
	--json-dive-color-orange-200: light-dark(
		oklch(0.901 0.076 70.697),
		oklch(0.099 0.076 70.697)
	);
	--json-dive-color-orange-300: light-dark(
		oklch(0.837 0.128 66.29),
		oklch(0.163 0.128 66.29)
	);
	--json-dive-color-orange-400: light-dark(
		oklch(0.75 0.183 55.934),
		oklch(0.25 0.183 55.934)
	);
	--json-dive-color-orange-500: light-dark(
		oklch(0.705 0.213 47.604),
		oklch(0.295 0.213 47.604)
	);
	--json-dive-color-orange-600: light-dark(
		oklch(0.646 0.222 41.116),
		oklch(0.354 0.222 41.116)
	);
	--json-dive-color-orange-700: light-dark(
		oklch(0.553 0.195 38.402),
		oklch(0.447 0.195 38.402)
	);
	--json-dive-color-orange-800: light-dark(
		oklch(0.47 0.157 37.304),
		oklch(0.53 0.157 37.304)
	);
	--json-dive-color-orange-900: light-dark(
		oklch(0.408 0.123 38.172),
		oklch(0.592 0.123 38.172)
	);
	--json-dive-color-orange-950: light-dark(
		oklch(0.266 0.079 36.259),
		oklch(0.734 0.079 36.259)
	);

	--json-dive-color-amber-50: light-dark(
		oklch(0.987 0.022 95.277),
		oklch(0.013 0.022 95.277)
	);
	--json-dive-color-amber-100: light-dark(
		oklch(0.962 0.059 95.617),
		oklch(0.038 0.059 95.617)
	);
	--json-dive-color-amber-200: light-dark(
		oklch(0.924 0.12 95.746),
		oklch(0.076 0.12 95.746)
	);
	--json-dive-color-amber-300: light-dark(
		oklch(0.879 0.169 91.605),
		oklch(0.121 0.169 91.605)
	);
	--json-dive-color-amber-400: light-dark(
		oklch(0.828 0.189 84.429),
		oklch(0.172 0.189 84.429)
	);
	--json-dive-color-amber-500: light-dark(
		oklch(0.769 0.188 70.08),
		oklch(0.231 0.188 70.08)
	);
	--json-dive-color-amber-600: light-dark(
		oklch(0.666 0.179 58.318),
		oklch(0.334 0.179 58.318)
	);
	--json-dive-color-amber-700: light-dark(
		oklch(0.555 0.163 48.998),
		oklch(0.445 0.163 48.998)
	);
	--json-dive-color-amber-800: light-dark(
		oklch(0.473 0.137 46.201),
		oklch(0.527 0.137 46.201)
	);
	--json-dive-color-amber-900: light-dark(
		oklch(0.414 0.112 45.904),
		oklch(0.586 0.112 45.904)
	);
	--json-dive-color-amber-950: light-dark(
		oklch(0.279 0.077 45.635),
		oklch(0.721 0.077 45.635)
	);

	--json-dive-color-yellow-50: light-dark(
		oklch(0.987 0.026 102.212),
		oklch(0.013 0.026 102.212)
	);
	--json-dive-color-yellow-100: light-dark(
		oklch(0.973 0.071 103.193),
		oklch(0.027 0.071 103.193)
	);
	--json-dive-color-yellow-200: light-dark(
		oklch(0.945 0.129 101.54),
		oklch(0.055 0.129 101.54)
	);
	--json-dive-color-yellow-300: light-dark(
		oklch(0.905 0.182 98.111),
		oklch(0.095 0.182 98.111)
	);
	--json-dive-color-yellow-400: light-dark(
		oklch(0.852 0.199 91.936),
		oklch(0.148 0.199 91.936)
	);
	--json-dive-color-yellow-500: light-dark(
		oklch(0.795 0.184 86.047),
		oklch(0.205 0.184 86.047)
	);
	--json-dive-color-yellow-600: light-dark(
		oklch(0.681 0.162 75.834),
		oklch(0.319 0.162 75.834)
	);
	--json-dive-color-yellow-700: light-dark(
		oklch(0.554 0.135 66.442),
		oklch(0.446 0.135 66.442)
	);
	--json-dive-color-yellow-800: light-dark(
		oklch(0.476 0.114 61.907),
		oklch(0.524 0.114 61.907)
	);
	--json-dive-color-yellow-900: light-dark(
		oklch(0.421 0.095 57.708),
		oklch(0.579 0.095 57.708)
	);
	--json-dive-color-yellow-950: light-dark(
		oklch(0.286 0.066 53.813),
		oklch(0.714 0.066 53.813)
	);

	--json-dive-color-lime-50: light-dark(
		oklch(0.986 0.031 120.757),
		oklch(0.014 0.031 120.757)
	);
	--json-dive-color-lime-100: light-dark(
		oklch(0.967 0.067 122.328),
		oklch(0.033 0.067 122.328)
	);
	--json-dive-color-lime-200: light-dark(
		oklch(0.938 0.127 124.321),
		oklch(0.062 0.127 124.321)
	);
	--json-dive-color-lime-300: light-dark(
		oklch(0.897 0.196 126.665),
		oklch(0.103 0.196 126.665)
	);
	--json-dive-color-lime-400: light-dark(
		oklch(0.841 0.238 128.85),
		oklch(0.159 0.238 128.85)
	);
	--json-dive-color-lime-500: light-dark(
		oklch(0.768 0.233 130.85),
		oklch(0.232 0.233 130.85)
	);
	--json-dive-color-lime-600: light-dark(
		oklch(0.648 0.2 131.684),
		oklch(0.352 0.2 131.684)
	);
	--json-dive-color-lime-700: light-dark(
		oklch(0.532 0.157 131.589),
		oklch(0.468 0.157 131.589)
	);
	--json-dive-color-lime-800: light-dark(
		oklch(0.453 0.124 130.933),
		oklch(0.547 0.124 130.933)
	);
	--json-dive-color-lime-900: light-dark(
		oklch(0.405 0.101 131.063),
		oklch(0.595 0.101 131.063)
	);
	--json-dive-color-lime-950: light-dark(
		oklch(0.274 0.072 132.109),
		oklch(0.726 0.072 132.109)
	);

	--json-dive-color-green-50: light-dark(
		oklch(0.982 0.018 155.826),
		oklch(0.018 0.018 155.826)
	);
	--json-dive-color-green-100: light-dark(
		oklch(0.962 0.044 156.743),
		oklch(0.038 0.044 156.743)
	);
	--json-dive-color-green-200: light-dark(
		oklch(0.925 0.084 155.995),
		oklch(0.075 0.084 155.995)
	);
	--json-dive-color-green-300: light-dark(
		oklch(0.871 0.15 154.449),
		oklch(0.129 0.15 154.449)
	);
	--json-dive-color-green-400: light-dark(
		oklch(0.792 0.209 151.711),
		oklch(0.208 0.209 151.711)
	);
	--json-dive-color-green-500: light-dark(
		oklch(0.723 0.219 149.579),
		oklch(0.277 0.219 149.579)
	);
	--json-dive-color-green-600: light-dark(
		oklch(0.627 0.194 149.214),
		oklch(0.373 0.194 149.214)
	);
	--json-dive-color-green-700: light-dark(
		oklch(0.527 0.154 150.069),
		oklch(0.473 0.154 150.069)
	);
	--json-dive-color-green-800: light-dark(
		oklch(0.448 0.119 151.328),
		oklch(0.552 0.119 151.328)
	);
	--json-dive-color-green-900: light-dark(
		oklch(0.393 0.095 152.535),
		oklch(0.607 0.095 152.535)
	);
	--json-dive-color-green-950: light-dark(
		oklch(0.266 0.065 152.934),
		oklch(0.734 0.065 152.934)
	);

	--json-dive-color-emerald-50: light-dark(
		oklch(0.979 0.021 166.113),
		oklch(0.021 0.021 166.113)
	);
	--json-dive-color-emerald-100: light-dark(
		oklch(0.95 0.052 163.051),
		oklch(0.05 0.052 163.051)
	);
	--json-dive-color-emerald-200: light-dark(
		oklch(0.905 0.093 164.15),
		oklch(0.095 0.093 164.15)
	);
	--json-dive-color-emerald-300: light-dark(
		oklch(0.845 0.143 164.978),
		oklch(0.155 0.143 164.978)
	);
	--json-dive-color-emerald-400: light-dark(
		oklch(0.765 0.177 163.223),
		oklch(0.235 0.177 163.223)
	);
	--json-dive-color-emerald-500: light-dark(
		oklch(0.696 0.17 162.48),
		oklch(0.304 0.17 162.48)
	);
	--json-dive-color-emerald-600: light-dark(
		oklch(0.596 0.145 163.225),
		oklch(0.404 0.145 163.225)
	);
	--json-dive-color-emerald-700: light-dark(
		oklch(0.508 0.118 165.612),
		oklch(0.492 0.118 165.612)
	);
	--json-dive-color-emerald-800: light-dark(
		oklch(0.432 0.095 166.913),
		oklch(0.568 0.095 166.913)
	);
	--json-dive-color-emerald-900: light-dark(
		oklch(0.378 0.077 168.94),
		oklch(0.622 0.077 168.94)
	);
	--json-dive-color-emerald-950: light-dark(
		oklch(0.262 0.051 172.552),
		oklch(0.738 0.051 172.552)
	);

	--json-dive-color-teal-50: light-dark(
		oklch(0.984 0.014 180.72),
		oklch(0.016 0.014 180.72)
	);
	--json-dive-color-teal-100: light-dark(
		oklch(0.953 0.051 180.801),
		oklch(0.047 0.051 180.801)
	);
	--json-dive-color-teal-200: light-dark(
		oklch(0.91 0.096 180.426),
		oklch(0.09 0.096 180.426)
	);
	--json-dive-color-teal-300: light-dark(
		oklch(0.855 0.138 181.071),
		oklch(0.145 0.138 181.071)
	);
	--json-dive-color-teal-400: light-dark(
		oklch(0.777 0.152 181.912),
		oklch(0.223 0.152 181.912)
	);
	--json-dive-color-teal-500: light-dark(
		oklch(0.704 0.14 182.503),
		oklch(0.296 0.14 182.503)
	);
	--json-dive-color-teal-600: light-dark(
		oklch(0.6 0.118 184.704),
		oklch(0.4 0.118 184.704)
	);
	--json-dive-color-teal-700: light-dark(
		oklch(0.511 0.096 186.391),
		oklch(0.489 0.096 186.391)
	);
	--json-dive-color-teal-800: light-dark(
		oklch(0.437 0.078 188.216),
		oklch(0.563 0.078 188.216)
	);
	--json-dive-color-teal-900: light-dark(
		oklch(0.386 0.063 188.416),
		oklch(0.614 0.063 188.416)
	);
	--json-dive-color-teal-950: light-dark(
		oklch(0.277 0.046 192.524),
		oklch(0.723 0.046 192.524)
	);

	--json-dive-color-cyan-50: light-dark(
		oklch(0.984 0.019 200.873),
		oklch(0.016 0.019 200.873)
	);
	--json-dive-color-cyan-100: light-dark(
		oklch(0.956 0.045 203.388),
		oklch(0.044 0.045 203.388)
	);
	--json-dive-color-cyan-200: light-dark(
		oklch(0.917 0.08 205.041),
		oklch(0.083 0.08 205.041)
	);
	--json-dive-color-cyan-300: light-dark(
		oklch(0.865 0.127 207.078),
		oklch(0.135 0.127 207.078)
	);
	--json-dive-color-cyan-400: light-dark(
		oklch(0.789 0.154 211.53),
		oklch(0.211 0.154 211.53)
	);
	--json-dive-color-cyan-500: light-dark(
		oklch(0.715 0.143 215.221),
		oklch(0.285 0.143 215.221)
	);
	--json-dive-color-cyan-600: light-dark(
		oklch(0.609 0.126 221.723),
		oklch(0.391 0.126 221.723)
	);
	--json-dive-color-cyan-700: light-dark(
		oklch(0.52 0.105 223.128),
		oklch(0.48 0.105 223.128)
	);
	--json-dive-color-cyan-800: light-dark(
		oklch(0.45 0.085 224.283),
		oklch(0.55 0.085 224.283)
	);
	--json-dive-color-cyan-900: light-dark(
		oklch(0.398 0.07 227.392),
		oklch(0.602 0.07 227.392)
	);
	--json-dive-color-cyan-950: light-dark(
		oklch(0.302 0.056 229.695),
		oklch(0.698 0.056 229.695)
	);

	--json-dive-color-sky-50: light-dark(
		oklch(0.977 0.013 236.62),
		oklch(0.023 0.013 236.62)
	);
	--json-dive-color-sky-100: light-dark(
		oklch(0.951 0.026 236.824),
		oklch(0.049 0.026 236.824)
	);
	--json-dive-color-sky-200: light-dark(
		oklch(0.901 0.058 230.902),
		oklch(0.099 0.058 230.902)
	);
	--json-dive-color-sky-300: light-dark(
		oklch(0.828 0.111 230.318),
		oklch(0.172 0.111 230.318)
	);
	--json-dive-color-sky-400: light-dark(
		oklch(0.746 0.16 232.661),
		oklch(0.254 0.16 232.661)
	);
	--json-dive-color-sky-500: light-dark(
		oklch(0.685 0.169 237.323),
		oklch(0.315 0.169 237.323)
	);
	--json-dive-color-sky-600: light-dark(
		oklch(0.588 0.158 241.966),
		oklch(0.412 0.158 241.966)
	);
	--json-dive-color-sky-700: light-dark(
		oklch(0.5 0.134 242.749),
		oklch(0.5 0.134 242.749)
	);
	--json-dive-color-sky-800: light-dark(
		oklch(0.443 0.11 240.79),
		oklch(0.557 0.11 240.79)
	);
	--json-dive-color-sky-900: light-dark(
		oklch(0.391 0.09 240.876),
		oklch(0.609 0.09 240.876)
	);
	--json-dive-color-sky-950: light-dark(
		oklch(0.293 0.066 243.157),
		oklch(0.707 0.066 243.157)
	);

	--json-dive-color-blue-50: light-dark(
		oklch(0.97 0.014 254.604),
		oklch(0.03 0.014 254.604)
	);
	--json-dive-color-blue-100: light-dark(
		oklch(0.932 0.032 255.585),
		oklch(0.068 0.032 255.585)
	);
	--json-dive-color-blue-200: light-dark(
		oklch(0.882 0.059 254.128),
		oklch(0.118 0.059 254.128)
	);
	--json-dive-color-blue-300: light-dark(
		oklch(0.809 0.105 251.813),
		oklch(0.191 0.105 251.813)
	);
	--json-dive-color-blue-400: light-dark(
		oklch(0.707 0.165 254.624),
		oklch(0.293 0.165 254.624)
	);
	--json-dive-color-blue-500: light-dark(
		oklch(0.623 0.214 259.815),
		oklch(0.377 0.214 259.815)
	);
	--json-dive-color-blue-600: light-dark(
		oklch(0.546 0.245 262.881),
		oklch(0.454 0.245 262.881)
	);
	--json-dive-color-blue-700: light-dark(
		oklch(0.488 0.243 264.376),
		oklch(0.512 0.243 264.376)
	);
	--json-dive-color-blue-800: light-dark(
		oklch(0.424 0.199 265.638),
		oklch(0.576 0.199 265.638)
	);
	--json-dive-color-blue-900: light-dark(
		oklch(0.379 0.146 265.522),
		oklch(0.621 0.146 265.522)
	);
	--json-dive-color-blue-950: light-dark(
		oklch(0.282 0.091 267.935),
		oklch(0.718 0.091 267.935)
	);

	--json-dive-color-indigo-50: light-dark(
		oklch(0.962 0.018 272.314),
		oklch(0.038 0.018 272.314)
	);
	--json-dive-color-indigo-100: light-dark(
		oklch(0.93 0.034 272.788),
		oklch(0.07 0.034 272.788)
	);
	--json-dive-color-indigo-200: light-dark(
		oklch(0.87 0.065 274.039),
		oklch(0.13 0.065 274.039)
	);
	--json-dive-color-indigo-300: light-dark(
		oklch(0.785 0.115 274.713),
		oklch(0.215 0.115 274.713)
	);
	--json-dive-color-indigo-400: light-dark(
		oklch(0.673 0.182 276.935),
		oklch(0.327 0.182 276.935)
	);
	--json-dive-color-indigo-500: light-dark(
		oklch(0.585 0.233 277.117),
		oklch(0.415 0.233 277.117)
	);
	--json-dive-color-indigo-600: light-dark(
		oklch(0.511 0.262 276.966),
		oklch(0.489 0.262 276.966)
	);
	--json-dive-color-indigo-700: light-dark(
		oklch(0.457 0.24 277.023),
		oklch(0.543 0.24 277.023)
	);
	--json-dive-color-indigo-800: light-dark(
		oklch(0.398 0.195 277.366),
		oklch(0.602 0.195 277.366)
	);
	--json-dive-color-indigo-900: light-dark(
		oklch(0.359 0.144 278.697),
		oklch(0.641 0.144 278.697)
	);
	--json-dive-color-indigo-950: light-dark(
		oklch(0.257 0.09 281.288),
		oklch(0.743 0.09 281.288)
	);

	--json-dive-color-violet-50: light-dark(
		oklch(0.969 0.016 293.756),
		oklch(0.031 0.016 293.756)
	);
	--json-dive-color-violet-100: light-dark(
		oklch(0.943 0.029 294.588),
		oklch(0.057 0.029 294.588)
	);
	--json-dive-color-violet-200: light-dark(
		oklch(0.894 0.057 293.283),
		oklch(0.106 0.057 293.283)
	);
	--json-dive-color-violet-300: light-dark(
		oklch(0.811 0.111 293.571),
		oklch(0.189 0.111 293.571)
	);
	--json-dive-color-violet-400: light-dark(
		oklch(0.702 0.183 293.541),
		oklch(0.298 0.183 293.541)
	);
	--json-dive-color-violet-500: light-dark(
		oklch(0.606 0.25 292.717),
		oklch(0.394 0.25 292.717)
	);
	--json-dive-color-violet-600: light-dark(
		oklch(0.541 0.281 293.009),
		oklch(0.459 0.281 293.009)
	);
	--json-dive-color-violet-700: light-dark(
		oklch(0.491 0.27 292.581),
		oklch(0.509 0.27 292.581)
	);
	--json-dive-color-violet-800: light-dark(
		oklch(0.432 0.232 292.759),
		oklch(0.568 0.232 292.759)
	);
	--json-dive-color-violet-900: light-dark(
		oklch(0.38 0.189 293.745),
		oklch(0.62 0.189 293.745)
	);
	--json-dive-color-violet-950: light-dark(
		oklch(0.283 0.141 291.089),
		oklch(0.717 0.141 291.089)
	);

	--json-dive-color-purple-50: light-dark(
		oklch(0.977 0.014 308.299),
		oklch(0.023 0.014 308.299)
	);
	--json-dive-color-purple-100: light-dark(
		oklch(0.946 0.033 307.174),
		oklch(0.054 0.033 307.174)
	);
	--json-dive-color-purple-200: light-dark(
		oklch(0.902 0.063 306.703),
		oklch(0.098 0.063 306.703)
	);
	--json-dive-color-purple-300: light-dark(
		oklch(0.827 0.119 306.383),
		oklch(0.173 0.119 306.383)
	);
	--json-dive-color-purple-400: light-dark(
		oklch(0.714 0.203 305.504),
		oklch(0.286 0.203 305.504)
	);
	--json-dive-color-purple-500: light-dark(
		oklch(0.627 0.265 303.9),
		oklch(0.373 0.265 303.9)
	);
	--json-dive-color-purple-600: light-dark(
		oklch(0.558 0.288 302.321),
		oklch(0.442 0.288 302.321)
	);
	--json-dive-color-purple-700: light-dark(
		oklch(0.496 0.265 301.924),
		oklch(0.504 0.265 301.924)
	);
	--json-dive-color-purple-800: light-dark(
		oklch(0.438 0.218 303.724),
		oklch(0.562 0.218 303.724)
	);
	--json-dive-color-purple-900: light-dark(
		oklch(0.381 0.176 304.987),
		oklch(0.619 0.176 304.987)
	);
	--json-dive-color-purple-950: light-dark(
		oklch(0.291 0.149 302.717),
		oklch(0.709 0.149 302.717)
	);

	--json-dive-color-fuchsia-50: light-dark(
		oklch(0.977 0.017 320.058),
		oklch(0.023 0.017 320.058)
	);
	--json-dive-color-fuchsia-100: light-dark(
		oklch(0.952 0.037 318.852),
		oklch(0.048 0.037 318.852)
	);
	--json-dive-color-fuchsia-200: light-dark(
		oklch(0.903 0.076 319.62),
		oklch(0.097 0.076 319.62)
	);
	--json-dive-color-fuchsia-300: light-dark(
		oklch(0.833 0.145 321.434),
		oklch(0.167 0.145 321.434)
	);
	--json-dive-color-fuchsia-400: light-dark(
		oklch(0.74 0.238 322.16),
		oklch(0.26 0.238 322.16)
	);
	--json-dive-color-fuchsia-500: light-dark(
		oklch(0.667 0.295 322.15),
		oklch(0.333 0.295 322.15)
	);
	--json-dive-color-fuchsia-600: light-dark(
		oklch(0.591 0.293 322.896),
		oklch(0.409 0.293 322.896)
	);
	--json-dive-color-fuchsia-700: light-dark(
		oklch(0.518 0.253 323.949),
		oklch(0.482 0.253 323.949)
	);
	--json-dive-color-fuchsia-800: light-dark(
		oklch(0.452 0.211 324.591),
		oklch(0.548 0.211 324.591)
	);
	--json-dive-color-fuchsia-900: light-dark(
		oklch(0.401 0.17 325.612),
		oklch(0.599 0.17 325.612)
	);
	--json-dive-color-fuchsia-950: light-dark(
		oklch(0.293 0.136 325.661),
		oklch(0.707 0.136 325.661)
	);

	--json-dive-color-pink-50: light-dark(
		oklch(0.971 0.014 343.198),
		oklch(0.029 0.014 343.198)
	);
	--json-dive-color-pink-100: light-dark(
		oklch(0.948 0.028 342.258),
		oklch(0.052 0.028 342.258)
	);
	--json-dive-color-pink-200: light-dark(
		oklch(0.899 0.061 343.231),
		oklch(0.101 0.061 343.231)
	);
	--json-dive-color-pink-300: light-dark(
		oklch(0.823 0.12 346.018),
		oklch(0.177 0.12 346.018)
	);
	--json-dive-color-pink-400: light-dark(
		oklch(0.718 0.202 349.761),
		oklch(0.282 0.202 349.761)
	);
	--json-dive-color-pink-500: light-dark(
		oklch(0.656 0.241 354.308),
		oklch(0.344 0.241 354.308)
	);
	--json-dive-color-pink-600: light-dark(
		oklch(0.592 0.249 0.584),
		oklch(0.408 0.249 0.584)
	);
	--json-dive-color-pink-700: light-dark(
		oklch(0.525 0.223 3.958),
		oklch(0.475 0.223 3.958)
	);
	--json-dive-color-pink-800: light-dark(
		oklch(0.459 0.187 3.815),
		oklch(0.541 0.187 3.815)
	);
	--json-dive-color-pink-900: light-dark(
		oklch(0.408 0.153 2.432),
		oklch(0.592 0.153 2.432)
	);
	--json-dive-color-pink-950: light-dark(
		oklch(0.284 0.109 3.907),
		oklch(0.716 0.109 3.907)
	);

	--json-dive-color-rose-50: light-dark(
		oklch(0.969 0.015 12.422),
		oklch(0.031 0.015 12.422)
	);
	--json-dive-color-rose-100: light-dark(
		oklch(0.941 0.03 12.58),
		oklch(0.059 0.03 12.58)
	);
	--json-dive-color-rose-200: light-dark(
		oklch(0.892 0.058 10.001),
		oklch(0.108 0.058 10.001)
	);
	--json-dive-color-rose-300: light-dark(
		oklch(0.81 0.117 11.638),
		oklch(0.19 0.117 11.638)
	);
	--json-dive-color-rose-400: light-dark(
		oklch(0.712 0.194 13.428),
		oklch(0.288 0.194 13.428)
	);
	--json-dive-color-rose-500: light-dark(
		oklch(0.645 0.246 16.439),
		oklch(0.355 0.246 16.439)
	);
	--json-dive-color-rose-600: light-dark(
		oklch(0.586 0.253 17.585),
		oklch(0.414 0.253 17.585)
	);
	--json-dive-color-rose-700: light-dark(
		oklch(0.514 0.222 16.935),
		oklch(0.486 0.222 16.935)
	);
	--json-dive-color-rose-800: light-dark(
		oklch(0.455 0.188 13.697),
		oklch(0.545 0.188 13.697)
	);
	--json-dive-color-rose-900: light-dark(
		oklch(0.41 0.159 10.272),
		oklch(0.59 0.159 10.272)
	);
	--json-dive-color-rose-950: light-dark(
		oklch(0.271 0.105 12.094),
		oklch(0.729 0.105 12.094)
	);

	--json-dive-color-slate-50: light-dark(
		oklch(0.984 0.003 247.858),
		oklch(0.016 0.003 247.858)
	);
	--json-dive-color-slate-100: light-dark(
		oklch(0.968 0.007 247.896),
		oklch(0.032 0.007 247.896)
	);
	--json-dive-color-slate-200: light-dark(
		oklch(0.929 0.013 255.508),
		oklch(0.071 0.013 255.508)
	);
	--json-dive-color-slate-300: light-dark(
		oklch(0.869 0.022 252.894),
		oklch(0.131 0.022 252.894)
	);
	--json-dive-color-slate-400: light-dark(
		oklch(0.704 0.04 256.788),
		oklch(0.296 0.04 256.788)
	);
	--json-dive-color-slate-500: light-dark(
		oklch(0.554 0.046 257.417),
		oklch(0.446 0.046 257.417)
	);
	--json-dive-color-slate-600: light-dark(
		oklch(0.446 0.043 257.281),
		oklch(0.554 0.043 257.281)
	);
	--json-dive-color-slate-700: light-dark(
		oklch(0.372 0.044 257.287),
		oklch(0.628 0.044 257.287)
	);
	--json-dive-color-slate-800: light-dark(
		oklch(0.279 0.041 260.031),
		oklch(0.721 0.041 260.031)
	);
	--json-dive-color-slate-900: light-dark(
		oklch(0.208 0.042 265.755),
		oklch(0.792 0.042 265.755)
	);
	--json-dive-color-slate-950: light-dark(
		oklch(0.129 0.042 264.695),
		oklch(0.871 0.042 264.695)
	);

	--json-dive-color-gray-50: light-dark(
		oklch(0.985 0.002 247.839),
		oklch(0.015 0.002 247.839)
	);
	--json-dive-color-gray-100: light-dark(
		oklch(0.967 0.003 264.542),
		oklch(0.033 0.003 264.542)
	);
	--json-dive-color-gray-200: light-dark(
		oklch(0.928 0.006 264.531),
		oklch(0.072 0.006 264.531)
	);
	--json-dive-color-gray-300: light-dark(
		oklch(0.872 0.01 258.338),
		oklch(0.128 0.01 258.338)
	);
	--json-dive-color-gray-400: light-dark(
		oklch(0.707 0.022 261.325),
		oklch(0.293 0.022 261.325)
	);
	--json-dive-color-gray-500: light-dark(
		oklch(0.551 0.027 264.364),
		oklch(0.449 0.027 264.364)
	);
	--json-dive-color-gray-600: light-dark(
		oklch(0.446 0.03 256.802),
		oklch(0.554 0.03 256.802)
	);
	--json-dive-color-gray-700: light-dark(
		oklch(0.373 0.034 259.733),
		oklch(0.627 0.034 259.733)
	);
	--json-dive-color-gray-800: light-dark(
		oklch(0.278 0.033 256.848),
		oklch(0.722 0.033 256.848)
	);
	--json-dive-color-gray-900: light-dark(
		oklch(0.21 0.034 264.665),
		oklch(0.79 0.034 264.665)
	);
	--json-dive-color-gray-950: light-dark(
		oklch(0.13 0.028 261.692),
		oklch(0.87 0.028 261.692)
	);

	--json-dive-color-zinc-50: light-dark(oklch(0.985 0 0), oklch(0.015 0 0));
	--json-dive-color-zinc-100: light-dark(
		oklch(0.967 0.001 286.375),
		oklch(0.033 0.001 286.375)
	);
	--json-dive-color-zinc-200: light-dark(
		oklch(0.92 0.004 286.32),
		oklch(0.08 0.004 286.32)
	);
	--json-dive-color-zinc-300: light-dark(
		oklch(0.871 0.006 286.286),
		oklch(0.129 0.006 286.286)
	);
	--json-dive-color-zinc-400: light-dark(
		oklch(0.705 0.015 286.067),
		oklch(0.295 0.015 286.067)
	);
	--json-dive-color-zinc-500: light-dark(
		oklch(0.552 0.016 285.938),
		oklch(0.448 0.016 285.938)
	);
	--json-dive-color-zinc-600: light-dark(
		oklch(0.442 0.017 285.786),
		oklch(0.558 0.017 285.786)
	);
	--json-dive-color-zinc-700: light-dark(
		oklch(0.37 0.013 285.805),
		oklch(0.63 0.013 285.805)
	);
	--json-dive-color-zinc-800: light-dark(
		oklch(0.274 0.006 286.033),
		oklch(0.726 0.006 286.033)
	);
	--json-dive-color-zinc-900: light-dark(
		oklch(0.21 0.006 285.885),
		oklch(0.79 0.006 285.885)
	);
	--json-dive-color-zinc-950: light-dark(
		oklch(0.141 0.005 285.823),
		oklch(0.859 0.005 285.823)
	);

	--json-dive-color-neutral-50: light-dark(oklch(0.985 0 0), oklch(0.015 0 0));
	--json-dive-color-neutral-100: light-dark(oklch(0.97 0 0), oklch(0.03 0 0));
	--json-dive-color-neutral-200: light-dark(oklch(0.922 0 0), oklch(0.078 0 0));
	--json-dive-color-neutral-300: light-dark(oklch(0.87 0 0), oklch(0.13 0 0));
	--json-dive-color-neutral-400: light-dark(oklch(0.708 0 0), oklch(0.292 0 0));
	--json-dive-color-neutral-500: light-dark(oklch(0.556 0 0), oklch(0.444 0 0));
	--json-dive-color-neutral-600: light-dark(oklch(0.439 0 0), oklch(0.561 0 0));
	--json-dive-color-neutral-700: light-dark(oklch(0.371 0 0), oklch(0.629 0 0));
	--json-dive-color-neutral-800: light-dark(oklch(0.269 0 0), oklch(0.731 0 0));
	--json-dive-color-neutral-900: light-dark(oklch(0.205 0 0), oklch(0.795 0 0));
	--json-dive-color-neutral-950: light-dark(oklch(0.145 0 0), oklch(0.855 0 0));

	--json-dive-color-stone-50: light-dark(
		oklch(0.985 0.001 106.423),
		oklch(0.015 0.001 106.423)
	);
	--json-dive-color-stone-100: light-dark(
		oklch(0.97 0.001 106.424),
		oklch(0.03 0.001 106.424)
	);
	--json-dive-color-stone-200: light-dark(
		oklch(0.923 0.003 48.717),
		oklch(0.077 0.003 48.717)
	);
	--json-dive-color-stone-300: light-dark(
		oklch(0.869 0.005 56.366),
		oklch(0.131 0.005 56.366)
	);
	--json-dive-color-stone-400: light-dark(
		oklch(0.709 0.01 56.259),
		oklch(0.291 0.01 56.259)
	);
	--json-dive-color-stone-500: light-dark(
		oklch(0.553 0.013 58.071),
		oklch(0.447 0.013 58.071)
	);
	--json-dive-color-stone-600: light-dark(
		oklch(0.444 0.011 73.639),
		oklch(0.556 0.011 73.639)
	);
	--json-dive-color-stone-700: light-dark(
		oklch(0.374 0.01 67.558),
		oklch(0.626 0.01 67.558)
	);
	--json-dive-color-stone-800: light-dark(
		oklch(0.268 0.007 34.298),
		oklch(0.732 0.007 34.298)
	);
	--json-dive-color-stone-900: light-dark(
		oklch(0.216 0.006 56.043),
		oklch(0.784 0.006 56.043)
	);
	--json-dive-color-stone-950: light-dark(
		oklch(0.147 0.004 49.25),
		oklch(0.853 0.004 49.25)
	);

	--json-dive-color-black: light-dark(#000, #fff);
	--json-dive-color-white: light-dark(#fff, #000);

	--json-dive-shadow-sm:
		0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--json-dive-shadow-md:
		0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
