:root {
	--json-dive-spacing-0: 0;
	--json-dive-spacing-1: 0.25rem;
	--json-dive-spacing-2: 0.5rem;
	--json-dive-spacing-3: 0.75rem;
	--json-dive-spacing-4: 1rem;
	--json-dive-spacing-5: 1.25rem;
	--json-dive-spacing-6: 1.5rem;
	--json-dive-spacing-7: 1.75rem;
	--json-dive-spacing-8: 2rem;
	--json-dive-spacing-9: 2.25rem;
	--json-dive-spacing-10: 2.5rem;
	--json-dive-spacing-11: 2.75rem;
	--json-dive-spacing-12: 3rem;
	--json-dive-spacing-14: 3.5rem;
	--json-dive-spacing-16: 4rem;
	--json-dive-spacing-20: 5rem;
	--json-dive-spacing-24: 6rem;
	--json-dive-spacing-28: 7rem;
	--json-dive-spacing-32: 8rem;
	--json-dive-spacing-0_5: 0.125rem;
	--json-dive-spacing-1_5: 0.375rem;
	--json-dive-spacing-2_5: 0.625rem;
	--json-dive-spacing-3_5: 0.875rem;

	--json-dive-radius-xs: 0.125rem;
	--json-dive-radius-sm: 0.25rem;
	--json-dive-radius-md: 0.375rem;
	--json-dive-radius-lg: 0.5rem;
	--json-dive-radius-xl: 0.75rem;
	--json-dive-radius-2xl: 1rem;
	--json-dive-radius-3xl: 1.5rem;
	--json-dive-radius-4xl: 2rem;

	--json-dive-shadow-sm:
		0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--json-dive-shadow-md:
		0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
